<form [formGroup]="testForm" class="px-2 d-block w-50">
    <mat-form-field class="w-100 my-1 mt-5">
        <mat-label>password</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field class="w-100 my-1">
        <mat-label>username</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field class="w-100 my-1">
        <mat-label>first_name</mat-label>
        <input matInput formControlName="first_name">
    </mat-form-field>
    <mat-form-field class="w-100 my-1">
        <mat-label>last_name</mat-label>
        <input matInput formControlName="last_name">
    </mat-form-field>
    <mat-form-field class="w-100 my-1">
        <mat-label>email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
    <mat-radio-group class="w-100 my-1" formControlName="account_type">
        <mat-radio-button value="personal" class="mr-5 mb-2">personal</mat-radio-button>
        <mat-radio-button value="business" class="mr-5 mb-2">business</mat-radio-button>
        <mat-radio-button value="gorvenment" class="mr-5 mb-2">gorvenment</mat-radio-button>
        <mat-radio-button value="foreign" class="mr-5 mb-2">foreign</mat-radio-button>
    </mat-radio-group>
    <!--
    <mat-form-field class="w-100 my-1">
        <mat-label>Profile picture</mat-label>
        <input type="file" matInput formControlName="image">
    </mat-form-field>
  -->
    <button type="submit" mat-raised-button [disabled]="!testForm.valid" (click)="create()">
      <i class="fa fa-save"></i>
    </button>
</form>

<img *ngIf="imageURL.length > 5" [src]="imageURL" style="height: 200px; width: 200px;">
<input type="file" (change)="selectFiles($event)" id="img" ngModel="image">