/* Section with background
--------------------------------*/

.section-bg {
    background: #f7f7f7;
}


/* Featured Services Section
--------------------------------*/

#featured-services {
    background: #000;
}

#featured-services .box {
    padding: 30px 20px;
}

#featured-services .box-bg {
    background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}

#featured-services i {
    color: #18d26e;
    font-size: 48px;
    display: inline-block;
    line-height: 1;
}

#featured-services h4 {
    font-weight: 400;
    margin: 15px 0;
    font-size: 18px;
}

#featured-services h4 a {
    color: #fff;
}

#featured-services h4 a:hover {
    color: #18d26e;
}

#featured-services p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
}
